:root {
    --background-body: rgb(255, 255, 255);
    --color-white: #FFF;
    --color-principal: #3E6EEE;
    --color-hover-link: #6A8FFF;
    --color-hover-box: #3e6eee62;
    --color-black: #000;
    --color-overlay: #00000028;
    --color-border-projetos: #6a8fff42;
    --mensagem-erro: red;
}
